@using Service.MangaOnline.Commons
@{
    ViewData["Title"] = "Search";
}
<link rel="stylesheet" href="~/css/MangaListManager.css">

<!-- page title -->
<section class="section section--first section--bg" data-bg="img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <!-- section title -->
                    <h2 class="section__title">Tìm truyện tranh</h2>
                    <!-- end section title -->

                    <!-- breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item">
                            <a asp-page="/Index">Trang chủ</a>
                        </li>
                        <li class="breadcrumb__item breadcrumb__item--active">Thể loại</li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->
<!-- filter -->
<div class="filter">
	<div class="container">
		<div class="row">
            <div class="col-12">
                    <div class="filter__content">
                        <div class="filter__items">
                            <!-- filter item -->
                            <div class="filter__item" id="filter__genre">
                                <span class="filter__item-label">Thể loại:</span>

                                <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-genre" 
                                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <input id="filter-category" type="button" value="Tất cả">
                                    <span></span> 
                                </div>

                                <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-genre">
                                    @foreach (var cate in AllCategory.GetAll)
                                    {
                                        <li class="filter-ev" >@cate.Name</li>
                                    }
                                </ul>
                            </div>
                            <!-- end filter item -->

                            <!-- filter item -->
                            <div class="filter__item" id="filter__status">
                                <span class="filter__item-label">Trạng thái:</span>

                                <div class="filter__item-btn dropdown-toggle" role="navigation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <input id="filter-status" type="button" value="Tất cả">
                                    <span></span>
                                </div>

                                <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-status">
                                    <li class="filter-ev">Hoàn thành</li>
                                    <li class="filter-ev">Đang cập nhật</li>
                                    <li class="filter-ev">Dừng cập nhật</li>
                                </ul>
                            </div>
                            <!-- end filter item -->

                            <!-- filter item -->
                            <div class="filter__item" id="filter__sort">
                                <span class="filter__item-label">Sắp xếp theo:</span>

                                <div class="filter__item-btn dropdown-toggle" role="navigation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <input id="filter-sort" type="button" value="Ngày cập nhật">
                                    <span></span>
                                </div>

                                <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-sort">
                                    <li class="filter-ev">Ngày cập nhật</li>
                                    <li class="filter-ev">Top view</li>
                                    <li class="filter-ev">Top follower</li>
                                </ul>
                            </div>
                            <!-- end filter item -->

                            <!-- filter item -->
                            <div class="filter__item" id="filter__rating">
                                <span class="filter__item-label">Rating:</span>

                                <div class="filter__item-btn dropdown-toggle" role="navigation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <input id="filter-rating"  type="button" value="Tất cả">
                                    <span></span>
                                </div>

                                <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-rating">
                                    <li class="filter-ev">1</li>
                                    <li class="filter-ev">2</li>
                                    <li class="filter-ev">3</li>
                                    <li class="filter-ev">4</li>
                                    <li class="filter-ev">5</li>
                                </ul>
                            </div>
                            <!-- end filter item -->


                        </div>

                        <!-- filter btn -->
                        <div class="label-apply">
                            <div class="filter__item" style="margin-right: 20px; cursor: pointer;">
                                <div id="refresh-fillterzzz">
                                    <div class="btn-status-plink">
                                        <i class="icon ion-ios-refresh-circle"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end filter btn -->
                    </div>
            </div>
		</div>
	</div>
</div>
<!-- end filter -->
<!-- catalog -->
<div class="catalog" style="padding-top: 20px">
    <div class="container">
        <div class="row" id="content">
            <!-- card -->
            
            <!-- end card -->

            <!-- paginator -->
              
        </div>
          <div class="col-12">
                    <ul class="paginator">
                        <li class="paginator__item paginator__item--prev">
                            <a href="#" onclick="return false;" id="back-page-ev">
                                <i class="icon ion-ios-arrow-back"></i>
                            </a>
                        </li>
                        <li id="div-back-page" class="paginator__item">
                                <a id="back-page">0</a>
                        </li>
                        <li class="paginator__item paginator__item--active">
                                <a id="current-page">1</a>
                        </li>
                        <li id="div-next-page" class="paginator__item">
                                <a id="next-page">2</a>
                        </li>
                        <li class="paginator__item paginator__item--next ">
                            <a href="#" onclick="return false;" id="next-page-ev">
                                <i class="icon ion-ios-arrow-forward"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- end paginator -->
    </div>
</div>
<!-- end catalog -->

 
<script>
     $(document).ready(function () {
        var stringQuery = "?";
        var query = GetURLParameter('query');
        var category = GetURLParameter('categoryName');
        if (category!==null){
            $("#filter-category").val(category);
        }
        getQueryString();
        Call(stringQuery);
        $("#refresh-fillterzzz").on("click",()=>{
            $("#filter-category").val("Tất cả");
            $("#filter-status").val("Tất cả");
            $("#filter-sort").val("Ngày cập nhật");
            $("#filter-rating").val("Tất cả");
            $("#filter-author").val(""); 

            resetPaging();
            getQueryString();
            Call(stringQuery);
        });
        $(".filter-ev").on("click",async(event)=>{
            resetPaging();
            await new Promise(r => setTimeout(r, 300));
            getQueryString();
            Call(stringQuery);
        });
         $("#back-page-ev").on("click",async(event)=>{
             var tmp = $("#current-page").html()*1;
             if(tmp > 1){
                 tmp-=1;
                 $("#current-page").html(tmp);
                 $("#back-page").html(tmp-1);
                 $("#next-page").html(tmp+1);
                 getQueryString();
                 Call(stringQuery);
             }
             
        });

         $("#next-page-ev").on("click",async(event)=>{
           
             var tmp =$("#current-page").html()*1;
             tmp+=1;
             $("#back-page").html(tmp-1);
             $("#next-page").html(tmp+1);
             $("#current-page").html(tmp);
             getQueryString();
             Call(stringQuery);
        });

      function resetPaging(){
             $("#back-page").html(0);
             $("#next-page").html(2);
             $("#current-page").html(1);
      }
      
      function getQueryString(){
        stringQuery="?";
        if(query){
            stringQuery+=`$filter=contains(name,\'${query}\')`;
        }
        if($("#filter-category").val() != "Tất cả"){
            console.log("category",$("#filter-category").val());
            stringQuery+=stringQuery.length>1?" and ":"$filter=";
            var tmp = $("#filter-category").val();
            stringQuery+=`categoryMangas/any(c: c/name eq '${tmp}')`
        }
         if($("#filter-status").val() != "Tất cả"){
            console.log("status",$("#filter-status").val());
            stringQuery+=stringQuery.length>1?" and ":"$filter=";
            var tmp = getStatus($("#filter-status").val());
            stringQuery+=`Status  eq ${tmp}`
        }

          if($("#filter-rating").val() != "Tất cả"){
            console.log("rating",$("#filter-rating").val());
            stringQuery+=stringQuery.length>1?" and ":"$filter=";
            var tmp = $("#filter-rating").val();
            stringQuery+=`Star  eq ${tmp}`
        }
            if ($("#filter-author").val().trim() !== "") {
                console.log("author", $("#filter-author").val());
                stringQuery += stringQuery.length > 1 ? " and " : "$filter=";
                var authorName = $("#filter-author").val().trim();
                stringQuery += `authorName eq '${authorName}'`;
            }

         if($("#filter-sort").val() != "Ngày cập nhật"){
            console.log("sort",$("#filter-sort").val());
            stringQuery+=stringQuery.length>1?"&":"$";
            var tmp = GetSort($("#filter-sort").val());
            stringQuery+=`orderBy=${tmp} desc`
        }



         stringQuery+=stringQuery.length>1?"&":"$";
            var tmp = $("#current-page").html()*6 - 6;
            stringQuery+=`top=6&$skip=${tmp}`

      }
    });

  

     function renderList(result) {
           if($("#back-page").html()*1 == 0){
                $("#div-back-page").hide();
             }else{
                 $("#div-back-page").show();
             }
           $("div #content").html("");
            $.each(result, function (index, value) {
                appendElement = $("div #content").last();
                var data="";
                data+=`
                 <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                    <div class="card">
                        <div class="card__cover">
                            <img src="/image/manga-image/${value.image}" alt="${value.name}" style="height: 237.03px; width: 160px;">
                            <a href="/Public/DetailManga?id=${value.id}" class="card__play">
                                <i class="icon ion-ios-play"></i>
                            </a>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title">
                                <a href="/Public/DetailManga?id=${value.id}">${value.name}</a>
                            </h3>
                            <span class="card__category">`;

                             value.categoryMangas.forEach((item)=>{
                                data+= `<a>${item.name}</a>`
                             });  

                            data+=`
                            </span>
                            <span class="card__rate"><i class="icon ion-ios-star"></i>${value.star}</span>
                            <span class="card__rate" style="margin-left: 5px;">
                                <i class="icon ion-ios-eye"></i>
                                ${formatView(value.viewCount)}
                            </span>
                        </div>
                    </div>
                </div>
                `;
                appendElement.append(data);
            });
        }
        function Call(stringQuery) {
            var user = GetUserData();
            $.ajax({
                url: urlServiceManga + "/Manga/list" + stringQuery,
                success: function (result) {
                    console.log(result);
                    renderList(result);
                }
            });
        }

        function getStatus(status){
            switch (status) {
            case "Hoàn thành":
                return 0;
                break;
            case "Đang cập nhật":
                return 1;
                break;
            case "Dừng cập nhật":
                return 2;
                break;
            }

           return  statusString;
        }    
        function GetCategoryIdByName(name) {
         debugger
            switch (name) {
                case 'Hài':
                    return 1;
                case 'Tiểu thuyết':
                    return 2;
            }
        }

         function GetSort(name) {
            switch (name) {
                case 'Ngày cập nhật':
                    return "ModifiedAt";
                case 'Top view':
                    return "ViewCount";
                case 'Top follower':
                    return "FollowCount";
            }
        }


</script>

<script src="~/js/Notification.js"></script>
